<a href="https://colab.research.google.com/github/david132313/DataManagment_Source/blob/main/1_6_functions_map_apply_lambda_filter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions

## Basic Syntax for Defining Them

In [ ]:
def f():
    print('hello')

Result is `None` because there is nothing returned (the `print` is a side-effect)

In [ ]:
result = f()
print(result)

hello
None

## Return

__`return` does two things__

* stops function execution as soon it is called (like `break` from a loop)
* gives back value

üëÄIf there's no value returned, a function gives back `None`

In [ ]:
def f():
    return 100
    print("hello")
print(f())

100

## Return Continued

In [ ]:
def f(a, b):
    result = a * b

print(f(2, 3))

None

In [ ]:
def f(a, b):
    return a * b

print(f(2, 3))

6


# Function Parameters

## Positional Arguments

__Work as you expect__

In [ ]:
def add_two(a, b):
    return a + b

Calling add_two(3, 7) results in the parameter `a` being set to `3`, and the parameter `b` set to `7`

In [ ]:
add_two(3,7)

10

**Exercise**

Write a function to return the nth value in the Fibonacci sequence, given n as an input. It starts with 0,1 and each subsequent value is the sum of the previous two.

If your first name begins with A through M, write an iterative version of the function. If it begins with N through Z, write a recursive version of the function.

In [ ]:
#@title Solution by Iterative algorithm
# when n=1, return 0
# when n=2, return 1
def fib1(n):
  if n==1: return 0
  if n==2: return 1
  x, y = 0,1
  for i in range(n-1):
    x,y=y,x+y
  return x

print(fib1(8))

13

In [ ]:
#@title Solution by Recursive algorithm
def fib2(n):
  if n in [1,2]:
    return n-1
  else:
    return fib2(n-1) + fib2(n-2)


print(fib2(8))

## "Variadic" functions (Variable Number of Arguments)

Use * before an argument name to collect all positional arguments into single parameter:

* parameter name can be whatever you want, but `args` is a commonly used name
* resulting value of that parameter is a `tuple` containing all arguments
* if there are additional positional, required arguments, then `*args` must go last
* inspired by other, older Unix tools like the C shell which have a similar mechanism

## An Example of Arbitrary Number of Arguments

In [ ]:
def sum_all(*args):
    print(args)
    print(type(args))
    total = 0
    for arg in args:
        total += arg
    return total

In [ ]:
result = sum_all(1, 2, 3, 4, 5, 6)
print(result)

(1, 2, 3, 4, 5, 6)
<class 'tuple'>
21

## *args

* note that the parameter's type is a tuple
* it holds all values passed in as a tuple
* (even if no arguments are passed in)

In [ ]:
sum_all(1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)
<class 'tuple'>

15

In [ ]:
sum_all()

()
<class 'tuple'>

0

## **Problem**

Write a function that takes an arbitrary number of strings as arguments and joins them into a single string with spaces as delimiters.

In [ ]:
#@title Solution
def joinStr(*args):
  return " ".join(args)

print(joinStr('apple','orange','peach'))

apple orange peach

## Required Positional Arguments, Then Arbitrary Arguments

In [ ]:
def sum_all(a, b, *args):
    print(args)
    print(type(args))
    total = a + b
    for arg in args:
        total += arg
    return total

In [ ]:
sum_all(1, 2, 3, 4, 5)

(3, 4, 5)
<class 'tuple'>

15

## If They're Required...

What happens if no arguments are passed in?

In [ ]:
try:
    sum_all()
except TypeError as e:
    print('error:', e)

error: sum_all() missing 2 required positional arguments: 'a' and 'b'

## Unpacking Iterable into Arguments

In the context of a function call, `*` breaks up an iterable object, like a list or tuple, into separate arguments.

In [ ]:
words = ['foo', 'bar', 'baz']
print(words)
print(*words)

print('foo','bar','baz')

['foo', 'bar', 'baz']
foo bar baz
foo bar baz

In [ ]:
nines=[9,9,9]
print(sum_all(1,2,*nines))
print(sum_all(1,2,9,9,9))

(9, 9, 9)
<class 'tuple'>
30
(9, 9, 9)
<class 'tuple'>
30

In [ ]:
try:
    sum_all(1,2,nines)
except TypeError as e:
    print('error:', e)

([9, 9, 9],)
<class 'tuple'>
error: unsupported operand type(s) for +=: 'int' and 'list'

## Default Values / Keyword Arguments

Keyword arguments can be given in any order

In [ ]:
# n is the default value, but can be set to something else
def shout(n=3):
    return 'hello' + n * '!'

In [ ]:
print(shout())

hello!!!

In [ ]:
print(shout(n=30))

hello!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [ ]:
def greet(fn="John",mn="Quincy",ln="Adams"):
    print("Hello", fn)
    print("Your middle name is", mn)
    print("Your full name is",fn,mn,ln)
    return

In [ ]:
greet()

Hello John
Your middle name is Quincy
Your full name is John Quincy Adams

In [ ]:
greet(mn="Earl",ln="Jones",fn="James")

Hello James
Your middle name is Earl
Your full name is James Earl Jones

In [ ]:
# if names aren't specified uses order
greet("James","Earl","Jones")

Hello James
Your middle name is Earl
Your full name is James Earl Jones

## An Arbitrary Number of Keyword Arguments

__...Are collected into a dictionary__

In [ ]:
def g(**kwargs):
    print(kwargs)

In [ ]:
g(a=1, b=2, c=3)

{'a': 1, 'b': 2, 'c': 3}

## Everything Together

In [ ]:
def crazy(a, b, *args, **kwargs):
    print(a, b, args, kwargs)

In [ ]:
crazy(1, 2, 3, 4, y=2, z=1)

1 2 (3, 4) {'y': 2, 'z': 1}

In [ ]:
def greet2(**kwargs):
    print("Hello", kwargs["fn"])
    print("Your middle name is", kwargs["mn"])
    print("Your full name is",kwargs["fn"],kwargs["mn"],kwargs["ln"])
    return

In [ ]:
greet2(fn="James",mn="Earl",ln="Jones")

Hello James
Your middle name is Earl
Your full name is James Earl Jones

In [ ]:
greet2(mn="Earl",fn="James",ln="Jones",misc="Foo")

Hello James
Your middle name is Earl
Your full name is James Earl Jones

## Functions as Arguments

In [ ]:
def addone(x):
    return x+1

In [ ]:
addone(5)

6

In [ ]:
l=[1,2,3,4,5,6]

map: apply function to every item of a list and return list of returned values

In [ ]:
print(map(addone,l))

<map object at 0x7997ec8175e0>

In [ ]:
list(map(addone,l))

[2, 3, 4, 5, 6, 7]

**Exercise**

Write a function that takes an arbitrary number of strings as arguments and returns their total length. Do not use a loop; rather, use map.

In [ ]:
def length(*args):
  return sum(map(len, args))

print(length('apple', 'pear', 'coconut')) # output: 5+4+7

16

## Lambdas: Anonymous (Unnamed) Functions, Usually Short
### Originally implemented by Lisp

In [ ]:
addone_v2=lambda x: x+1

In [ ]:
addone_v2(5)

6

In [ ]:
l

[1, 2, 3, 4, 5, 6]

In [ ]:
list(map(addone_v2,l))

[2, 3, 4, 5, 6, 7]

In [ ]:
list(map(lambda x:x+1,l))

[2, 3, 4, 5, 6, 7]

### **Problem**:

write a function that takes a variable number of strings as parameters and returns a single string with all the strings capitalized and concatenated, with spaces as delimiters. For instance, if the function is cap_and_join and it is called as follows:

```
cap_and_join("hello","there","everyone")
```

it should return "Hello There Everyone". Use lambda, map, and join; do not use a loop.

In [ ]:
#@title Solution
def cap_and_join(*args):
  return " ".join(map(lambda s:s.capitalize(),args))

print(cap_and_join("hello","there","everyone"))

## Filter: Apply a Boolean Filter to a Sequence

The filter() function selects elements from an iterable (list, tuple etc.) based on the output of a function.

In [ ]:
print(l)
even=filter(lambda n: n%2 == 0, l)
print(even)

list(even)

[1, 2, 3, 4, 5, 6]
<filter object at 0x7a2c66823520>

[2, 4, 6]

In [ ]:
odd=filter(lambda n: n%2 == 1, l)
list(odd)

[1, 3, 5]

## Reduce: Repeatedly Apply a Function to a Sequence

The reduce(fun,seq) function is used to apply a particular function passed in its argument to all of the list elements mentioned in the sequence passed along.This function is defined in ‚Äúfunctools‚Äù module.

In [ ]:
from functools import reduce

In [ ]:
print(l)
sum = reduce(lambda x,y: x+y, l)
print(sum)

[1, 2, 3, 4, 5, 6]
21

### **Exercise:**

Use reduce and lambda to implement the factorial function.

n!=1\*2\*3...*n

In [ ]:
#@title Solution
def factorial(n):
  return reduce(lambda x,y: x*y, list(range(1,n+1)))

factorial(6)

720