<a href="https://colab.research.google.com/github/david132313/DataManagment_Source/blob/main/Homework2_2025_Summer_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Requirement of Submission
1. Please directly write your code in this file and submit your `.ipynb` file to Brightspace. Do NOT accept `.py` files.
2. NO extended deadline.
3. Please check your answers before the submission.

# Homework 2

## 1.

Write down all the methods/functions we have learned in Pandas Module.

In [21]:
import pandas as pd
import numpy as np

In [ ]:
#pd.Series(...)ã€‚pd.Series([...,index)
#pd.isnull(x)
#pd.notnull(x)
#pd.DataFrame(...)
#pd.DataFrame([],columns=[])
#df.loc[x:y] df.loc[x,y] (ending index inclusive) df.iloc[]
#df.values
#df.index
#df[...].name
#pd.Series(...,...)
#df.head()
#c.reindex(index=, columns=)
#d.apply(fn,axis=a) ///fn is the function name , axis may be 0 for applied column-by-column, operating vertically down each column. or 1 for applied row-by-row, horizontally.
#series.sort_values(ascending=True/False, Inplace=False/True)
#dataframe.sort_values(by=[ ], ascending=[ ], Inplace=False/True)
#pd.add()
#pd.mean()
#pd.std()

#pd.idxmax(axis=0, skipna=True, numeric_only=False)

#pd.reindex(index=, columns=)

#pd.replace(old, new)
#pd.dropna(axis=)
#pd.ffill()
#pd.cut(data,bins,labels=labels)

series/pd.isnull()

series/pd.notnull()

pd.drop(index=, columns=, axis=, inplace=False/True)

pd.NA/pd.NaT

pd.astype()

pd.from_dict()

pd.dtypes

pd.index

pd.columns

pd.apply(axis=0/1)

series/pd.map(fn)

series.str.slice()/upper()/split()/replace()

pd.round()

series.value_counts()

pd.sort_values(by=, ascending = True/False, inplace= False/True)

series.unique()

pd.add()

pd.mean()

pd.std()

pd.idxmax(axis=0, skipna=True, numeric_only=False)

pd.reindex(index=, columns=)

pd.replace(old, new)
pd.dropna(axis=)
pd.ffill()
pd.cut(data,bins,labels=labels)
astype(newType)
pd.to_numeric(colName)
pd.to_datetime(colName)
.month .month_name() .isocalendar().week .dayofyear
pd.merge(a,b,on='k') 'left': include all keys from the first (left) DataFrame, even if they don't exist in second (right)
'right': include all keys from the second (right) DataFrame, even if they don't exist in first (left)
'outer': union of keys from both DataFrames
'inner': intersection of keys from both DataFrames (default)
We will see all of these again when we study SQL.
pd.concat

##  2

Take the file **weight-height.csv** which can be found in the Google Drive folder and read it into a Pandas DataFrame.

Using the pandas cut method, bin the **weights of women** into the following groups:

less than 100 pounds, 100-130, 130-160, 160-190, and over 190.

Then use value_counts to find how many weights fall into each bin.

In [22]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [23]:
file_path = '/content/drive/My Drive/DataManagement/data_files/weight-height.csv'

# Read CSV from Google Drive
df = pd.read_csv(file_path)

# Select female weights
women_weights = df[df['Gender'] == 'Female']['Weight']

# Bin settings
bins = [0, 100, 130, 160, 190, float('inf')]
labels = ['<100', '100-130', '130-160', '160-190', '>190']

# Bin the data
weight_bins = pd.cut(women_weights, bins=bins, labels=labels, right=True, include_lowest=True)

# Count per bin
counts = weight_bins.value_counts().sort_index()

print(counts)

Weight
<100        146
100-130    1735
130-160    2590
160-190     518
>190         11
Name: count, dtype: int64

## 3

A company stores its sales data into three CSV files. "customer.csv", "products.csv", and "sales.csv", can be found in the Google Drive folder and read them into Pandas DataFrames.

"customer.csv" -> DataFrame "customer_df"\
"products.csv" -> DataFrame "products_df"\
"sales.csv" -> DataFrame "sales_df"

(1) Get the general information of ```sales_df```. Then change the column names of ```sales_df``` to uppercase letters. Then change 'C_ID' and 'P_ID' to 'CUSTOMER_ID' and 'PRODUCT_ID', respectively. (10%)

In [50]:
file_path1='/content/drive/My Drive/DataManagement/data_files/customer.csv'
customer_df = pd.read_csv(file_path1)
file_path2='/content/drive/My Drive/DataManagement/data_files/products.csv'
products_df = pd.read_csv(file_path2)
file_path3='/content/drive/My Drive/DataManagement/data_files/sales.csv'
sales_df = pd.read_csv(file_path3)


print(sales_df.info())
print(sales_df.head())

# Change all column names to uppercase
sales_df.columns = [col.upper() for col in sales_df.columns]

# Change 'C_ID' to 'CUSTOMER_ID' and 'P_ID' to 'PRODUCT_ID'
sales_df = sales_df.rename(columns={'C_ID': 'CUSTOMER_ID', 'P_ID': 'PRODUCT_ID'})
print(sales_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   sale_id  9 non-null      int64
 1   c_id     9 non-null      int64
 2   p_id     9 non-null      int64
 3   product  9 non-null      object
 4   qty      9 non-null      int64
 5   store    9 non-null      object
dtypes: int64(4), object(2)
memory usage: 564.0+ bytes
None
   sale_id  c_id  p_id  product  qty store
0        1     2     3  Monitor    2   ABC
1        2     2     4      CPU    1   DEF
2        3     1     3  Monitor    3   ABC
3        4     4     2      RAM    2   DEF
4        5     2     3  Monitor    3   ABC
   SALE_ID  CUSTOMER_ID  PRODUCT_ID  PRODUCT  QTY STORE
0        1            2           3  Monitor    2   ABC
1        2            2           4      CPU    1   DEF
2        3            1           3  Monitor    3   ABC
3        4            4           2      RAM    2   DEF
4        5            2           3  Monitor    3   ABC

(2) In ```sales_df```, find the total sold quantity for each product. Show 3 columns, 'PRODUCT', 'PRODUCT_ID', and 'QTY'.

In [51]:
products_df.columns = [col.upper() for col in products_df.columns]
products_df = products_df.rename(columns={'P_ID': 'PRODUCT_ID'})
print(products_df.head())

   PRODUCT_ID    PRODUCT  PRICE/PIECE
0           1  Hard Disk           80
1           2        RAM           90
2           3    Monitor           75
3           4        CPU           55
4           5   Keyboard           20

In [52]:
# Get total quantity for each product
product_qty = sales_df.groupby('PRODUCT_ID')['QTY'].sum().reset_index()

# Merge with products_df to get product names
result2 = pd.merge(product_qty, products_df, on='PRODUCT_ID')

# Select the required columns and print
result2 = result2[['PRODUCT', 'PRODUCT_ID', 'QTY']]
print(result2)

   PRODUCT  PRODUCT_ID  QTY
0      RAM           2    7
1  Monitor           3   12
2      CPU           4    1

(3) In `sales_df`, find the total sold quantity for each product in each store. Show 4 columns, 'PRODUCT', 'PRODUCT_ID', 'STORE' and 'QTY'.

In [53]:
product_store_qty = sales_df.groupby(['PRODUCT_ID', 'STORE'])['QTY'].sum().reset_index()
result3 = pd.merge(product_store_qty, products_df, left_on='PRODUCT_ID', right_on='PRODUCT_ID')
result3 = result3[['PRODUCT', 'PRODUCT_ID', 'STORE', 'QTY']]
print(result3)

   PRODUCT  PRODUCT_ID STORE  QTY
0      RAM           2   ABC    3
1      RAM           2   DEF    4
2  Monitor           3   ABC   10
3  Monitor           3   DEF    2
4      CPU           4   DEF    1

(4) In ```sales_df``` and ```products_df```, find the total sales for each product. Show 2 columns, 'PRODUCT_ID' and 'Total_sale' (Total_sale = quantity * price/piece).

In [54]:
# Merge sales and products to get price information
merged = pd.merge(sales_df, products_df, on='PRODUCT_ID')
# Calculate total sales per product
result = merged.groupby('PRODUCT_ID').apply(lambda x: (x['QTY'] * x['PRICE/PIECE']).sum()).reset_index(name='Total_sale')
print(result)

   PRODUCT_ID  Total_sale
0           2         630
1           3         900
2           4          55

<ipython-input-54-2403089138>:4: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  result = merged.groupby('PRODUCT_ID').apply(lambda x: (x['QTY'] * x['PRICE/PIECE']).sum()).reset_index(name='Total_sale')

(5) In ```sales_df``` and ```products_df```, find the total sales in each store. Show 3 columns, 'STORE', 'QTY', and 'store_sales'.

In [55]:
# Using merged DataFrame from (4)
store_sales = merged.groupby('STORE').apply(lambda x: pd.Series({
    'QTY': x['QTY'].sum(),
    'store_sales': (x['QTY'] * x['PRICE/PIECE']).sum()
})).reset_index()
print(store_sales[['STORE', 'QTY', 'store_sales']])

  STORE  QTY  store_sales
0   ABC   13         1020
1   DEF    7          565

<ipython-input-55-324984242>:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  store_sales = merged.groupby('STORE').apply(lambda x: pd.Series({

(6) In ```sales_df``` and ```products_df```, find the products which are not sold yet.  Show 'PRODUCT_ID' and 'product'.

In [56]:
sold_products = sales_df['PRODUCT_ID'].unique()
unsold = products_df[~products_df['PRODUCT_ID'].isin(sold_products)]
print(unsold[['PRODUCT_ID', 'PRODUCT']])

   PRODUCT_ID       PRODUCT
0           1     Hard Disk
4           5      Keyboard
5           6         Mouse
6           7   Motherboard
7           8  Power supply

(7) In ```sales_df``` and ```customers_df```, find the customers who have not purchased any product. Show 2 columns "CUSTOMER_ID" and "Customer".

In [57]:
customer_df.columns = [col.upper() for col in customer_df.columns]
customer_df = customer_df.rename(columns={'C_ID': 'CUSTOMER_ID'})
print(customer_df.head())

   CUSTOMER_ID CUSTOMER
0            1     Rabi
1            2     Raju
2            3     Alex
3            4     Rani
4            5     King

In [58]:
purchased_customers = sales_df['CUSTOMER_ID'].unique()
not_purchased = customer_df[~customer_df['CUSTOMER_ID'].isin(purchased_customers)]
print(not_purchased[['CUSTOMER_ID', 'CUSTOMER']])

   CUSTOMER_ID CUSTOMER
4            5     King
5            7     Ronn
6            8      Jem
7            9      Tom

(8) In `products_df`, swap the first row and the last row. Swap the first column and the last column.

In [59]:
# Swap first and last rows
products_swapped = products_df.copy()
products_swapped.iloc[[0, -1]] = products_swapped.iloc[[-1, 0]].values
# Swap first and last columns
cols = products_swapped.columns.tolist()
cols[0], cols[-1] = cols[-1], cols[0]
products_swapped = products_swapped[cols]
print(products_swapped)

   PRICE/PIECE       PRODUCT  PRODUCT_ID
0           20  Power supply           8
1           90           RAM           2
2           75       Monitor           3
3           55           CPU           4
4           20      Keyboard           5
5           10         Mouse           6
6           50   Motherboard           7
7           80     Hard Disk           1

(9) Delete the column 'PRODUCT' in sales_df.

In [ ]:
sales_df = sales_df.drop(columns=['PRODUCT'])

## 4

 There is an excel file `stu_excel.xlsx` in the data folder.

(1) Read the content in this file to a dataframe `df_stu`

In [63]:
file_path4 = '/content/drive/My Drive/DataManagement/data_files/stu_excel.xlsx'

# Read CSV from Google Drive
df_stu = pd.read_excel(file_path4,header=2)
print(df_stu)

    Unnamed: 0    ID      Course  Grade
0          NaN  ab12         DMA   85.0
1          NaN   NaN  Algorithms   95.0
2          NaN   NaN      French   97.0
3          NaN   NaN         NaN    NaN
4          NaN  bc23         DMA   99.0
5          NaN   NaN  Algorithms    NaN
6          NaN   NaN      French   90.0
7          NaN   NaN         NaN    NaN
8          NaN  cd45         DMA   99.0
9          NaN   NaN  Algorithms   98.0
10         NaN   NaN      French   96.0

(2) Remove the first column. Replace all the nulls to empty string ''.

In [64]:
# Remove the first column
df_stu = df_stu.iloc[:, 1:]

# Replace all NaNs (nulls) with empty string ""
df_stu = df_stu.fillna("")

print(df_stu)

      ID      Course Grade
0   ab12         DMA  85.0
1         Algorithms  95.0
2             French  97.0
3
4   bc23         DMA  99.0
5         Algorithms
6             French  90.0
7
8   cd45         DMA  99.0
9         Algorithms  98.0
10            French  96.0

(3) In column `Grade`, there is one missing `Grade` for `Algorithms`. Replace that cell with the mean grade of Algorithms.

In [65]:
mask_algo = df_stu['Course'] == 'Algorithms'
mean_grade = pd.to_numeric(df_stu.loc[mask_algo & (df_stu['Grade'] != ""), 'Grade']).mean()
df_stu.loc[mask_algo & (df_stu['Grade'] == ""), 'Grade'] = mean_grade
print(df_stu)

      ID      Course Grade
0   ab12         DMA  85.0
1         Algorithms  95.0
2             French  97.0
3
4   bc23         DMA  99.0
5         Algorithms  96.5
6             French  90.0
7
8   cd45         DMA  99.0
9         Algorithms  98.0
10            French  96.0