<a href="https://colab.research.google.com/github/david132313/DataManagment_Source/blob/main/L1_2_Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Some Python Fundamentals

# A Neat "Pythonic" Sorting Program

This program for Quicksort is borrowed from [this tutorial](https://cs231n.github.io/python-numpy-tutorial/).

I think it nicely illustrates the power of Python.

How do you think it works?

In [ ]:
def quicksort(arr):
    if len(arr) <= 1:
        return arr
    pivot = arr[len(arr) // 2]
    left = [x for x in arr if x < pivot]
    middle = [x for x in arr if x == pivot]
    right = [x for x in arr if x > pivot]
    return quicksort(left) + middle + quicksort(right)

print(quicksort([3,6,8,10,1,2,1]))

[1, 1, 2, 3, 6, 8, 10]

## Assignment and Operators

Python variables can have alphanumeric characters and the underscore; they must begin with an alphabetic character or an underscore.

In [ ]:
x=20
y=9

In [ ]:
print(x+y)
print(x-y)

29
11

In [ ]:
x**2

400

In [ ]:
x/y

2.2222222222222223

In [ ]:
x//y

2

In [ ]:
x%y

2

In [ ]:
# convert to strings and concatenate
str(x)+str(y)

'209'

In [ ]:
x

20

In [ ]:
x+=6   # x=x+6
x

26

In [ ]:
# for i in range(5):

Python uses indentation to create code blocks.

In [ ]:
def isPrime(x): # indent 0
    for i in range(2,int(x**0.5)+1): # indent 1
        if x%i==0: # indent 2
            return False # indent 3
    return True # indent 1

Find the list of primes less than 30.

In [ ]:
primeList=[]
for i in range(2,31):
  if isPrime(i): primeList.append(i)------------------
print(primeList)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

Or more compactly using a "list comprehension".

In [ ]:
[i for i in range(2,31) if isPrime(i)]

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

## Python is strongly and dynamically typed.

## Strongly typed:

In [ ]:
try:
  print(4+"hello")
except:
  print("Error generated; can't add different types")

Error generated; can't add different types

In [ ]:
4+6

10

In [ ]:
"hello" + " world"

'hello world'

In [ ]:
[1,2,3] + ["hello","world"]

[1, 2, 3, 'hello', 'world']

## Dynamically Typed:

In [ ]:
# easily change the type of a variable
x="hello"
print(x)
print(type(x))
x=5
print(x)
print(type(x))

hello
<class 'str'>
5
<class 'int'>

## Loops

In [ ]:
# add the numbers from 1 to 10 using a for loop
total=0
for i in range(1,11):
  total+=i
print(total)

55

In [ ]:
# do the same using a while loop
i=1
total=0
while i<=10:
  total+=i
  i+=1
print(total)

55

Using modules with the "import" command

In [ ]:
import random
dice=list(range(1,7))
print(dice)
print(random.choice(dice))

[1, 2, 3, 4, 5, 6]
4

## Input and Conditionals

In [ ]:
temp=float(input("Enter a temperature in Fahrenheit: "))
if temp<32:
  print("Below the freezing point of water")
elif temp>212:
  print("Above the boiling point of water")
else:
  print("Between boiling and freezing")

## Boolean Types

In [ ]:
temp=31
freezing=(temp<32)
print(freezing) # True
boiling=(temp>212)
print(boiling) # False
print(type(boiling))
print(boiling or freezing) # True
print(boiling and freezing) # False
print(not(boiling)) # True

True
False
<class 'bool'>
True
False
True

## Strings

In [ ]:
phrase='the rain in spain is mainly on the plane'
print(phrase.upper())
print(phrase.title())
print(phrase.capitalize())
p2=phrase.upper()
print(p2.lower())

THE RAIN IN SPAIN IS MAINLY ON THE PLANE
The Rain In Spain Is Mainly On The Plane
The rain in spain is mainly on the plane
the rain in spain is mainly on the plane